* {
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}


.first {
	width: 100%;
	height: 100%;
	background: url(../img/img1.jpg);
	background-size: cover;
	color: white;
}

.tourism {
	text-align: center;
	padding-top: 80px;
	font-size: 22px;
}

.first-line {
	opacity: 0.5;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

.second-line {
	font-size:  64px;
	font-weight: bold;
	text-transform: uppercase;
}

.third-line {
	font-size: 20px;
}

.text-container {
	margin-left: 15%;
	margin-top: 15%;
	white: 40%;
}

.second {
	width: 100%;
	height: 100%;
}

.gallery-container {
	width: 60%;
	margin: auto;
	margin-top: 100px;
}

.gallery-text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gallery-head {
	font-size: 40px;
}

.gallery-img {
	width: 100%;
	display: flex;
/*	border: 1px solid black;*/

}

.img21 {
	width: 60%;
	height: 60%;
	display: flex;
}

.img22-23 {
	width: 40%;
/*	border: 1px solid black;*/
	margin-left: 25px;
}

.img22 {
	width: 100%;
	margin-bottom: 20px;
}

.img23 {
	width: 100%;
}

.third {
	width: 100%;
}

.img3 {
	width: 100%;
}

.lorem-img {
	background-image: url("../img/img3.jpg");
	color: white;
	padding: 40px 0px;
}

.lorem {
	width: 100px;
	margin: auto;
	border: 2px solid white;
	text-align: center;
	padding: 4px 20px;
	margin-top: 10px;
}

.lorem-img .p {
	margin: auto;
	width: 60%;
	margin-top: 30px;
}